<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/customer.css" />
    <%- include("template/header.ejs") %>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="container1">
          <div class="kainin">
            <h1>Track a variety of your favorite street food choices.</h1>
          </div>
          <div class="user--info">
            <div class="search--box">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Search" id="myInput" />
            </div>
          </div>
        </div>
        <div class="container2">
          <div class="food-container">
            <div class="card">
              <div class="wrapper">
                <div class="food-image">
                  <img src="/public/img/icecream.jpg" alt="" />
                </div>
                <div class="descript">
                  <h4 class="title">Jefferson</h4>
                  <p class="p-descript">
                    Short Description about your business Lorem ipsum dolor sit
                    amett.Short Description about your business Lorem ipsum
                    dolor sit amett.Short Description about your business Lorem
                    ipsum dolor sit amett.Short Description about your business
                    Lorem ipsum dolor sit amett.Short Description about your
                    business Lorem ipsum dolor sit amett.Short Description about
                    your business Lorem ipsum dolor sit amett.Short Description
                    about your business Lorem ipsum dolor sit amett.Short
                    Description about your business Lorem ipsum dolor sit
                    amett.Short Description about your business Lorem ipsum
                    dolor sit amett.Short Description about your business Lorem
                    ipsum dolor sit amett.Short Description about your business
                    Lorem ipsum dolor sit amett.Short Description about your
                    business Lorem ipsum dolor sit amett.
                  </p>
                  <div class="button-container">
                    <button class="btn">View</button>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="food-image">
                  <img src="/public/img/food3.jpg" alt="" />
                </div>
                <div class="descript">
                  <h4 class="title">John Jhovir</h4>
                  <p class="p-descript">
                    Short Description about your business Lorem ipsum dolor sit
                    amett.
                  </p>
                  <div class="button-container">
                    <button class="btn">View</button>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="food-image">
                  <img src="/public/img/food2.jpg" alt="" />
                </div>
                <div class="descript">
                  <h4 class="title">Jarod</h4>
                  <p class="p-descript">
                    Short Description about your business Lorem ipsum dolor sit
                    amett.
                  </p>
                  <div class="button-container">
                    <button class="btn">View</button>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="food-image">
                  <img src="/public/img/food1.jpg" alt="" />
                </div>
                <div class="descript">
                  <h4 class="title">Jonathan</h4>
                  <p class="p-descript">
                    Short Description about your business Lorem ipsum dolor sit
                    amett.
                  </p>
                  <div class="button-container">
                    <button class="btn">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/public/js/customer.js"></script>
  </body>
</html>
