<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/foodInfo.css">
    <%- include("template/header.ejs") %>
</head>
<body>
    <div class="container">
        <div class="container1">
            <div class="section1">
                <div class="location">
                    <div class="locs-info">
                        <h3><i class="fa-solid fa-location-dot"></i>Poctol San Juan Batangas</h3>
                        <h1>BUSINESS NAME</h1>
                        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque temporibus aperiam facilis officiis perferendis dolore voluptatibus laborum nesciunt repudiandae sequi?</p>
                        <div class="home-container">
                            <button class="cssbuttons-io-button">
                                home
                                <div class="icon">
                                  <svg
                                    height="24"
                                    width="24"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                      d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                      fill="currentColor"
                                    ></path>
                                  </svg>
                                </div>
                              </button>
                              
                        </div>
                    </div>
                </div>
                <div class="product">
                  <div class="food">
                    <h3>Category</h3>
                    <div class="card-container">
                    <div class="food-card light-red">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                    <div class="food-card light-purple">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                    <div class="food-card light-green">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                    <div class="food-card light-blue">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                    <div class="food-card light-blue">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                    <div class="food-card light-blue">
                        <div class="circle-container">
                            <div class="circle"><img src="/public/img/icecream.jpg" alt=""></div>
                        </div>
                        <div class="food-name">
                            <h4>Food Name</h4>
                        </div>
                    </div>
                </div>
                  </div>
                </div>

            </div>
            <div class="section2">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15461.602006852636!2d121.02210344999999!3d14.3462188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1706179112059!5m2!1sen!2sph" width="100%" height="100%" style="border-radius:10px; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>