<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/forgot.css">
    <%- include("template/header.ejs") %>
</head>
<body>
    <div class="container">
       <form>
        <div class="img-container">
          <img src="/public/img/reg.jpg" alt="">
        </div>
        <div class="input-container">
           <div class="title">
                <h3>Forgot Password</h3>
                <p>Kindly enter your new password in the provided input field.</p>
           </div>
           <div class="keke"> 
                <div class="input-content">
                    <input type="hidden" id="email" value="<%= email %>">
                    <input type="password" id="pwd" placeholder="Password">
                    <input type="password" id="confirmPwd" placeholder="Confirm Password">
                </div>
                <div class="button-container">
                    <button id="submit">Submit</button>
                </div>
          </div>
        </div>
       </form>
    </div>

    <script type="text/javascript" src="/public/js/forgot.js"></script>
</body>
</html>