<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="/public/css/reg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
       <form>
        <div class="img-container">
          <img src="/public/img/reg.jpg" alt="">
        </div>
        <div class="input-container">
           <div class="title">
                <h3>Create Your Account</h3>
                <p>New user? Begin the process by providing your details to establish your account.</p>
           </div>
           <div class="keke">
                <div class="login-container">
                    <button class="login">Login</button>
                </div>
                <div class="input-content">
                    <input type="text" id="name" placeholder="Fullname">
                    <input type="text" id="businessName" placeholder="Business Name">
                </div>
                <div class="input-content">
                    <input type="text" id="email" placeholder="Email">
                    <input type="text" id="password" placeholder="Password">
                    <input type="text" id="confirmPass" placeholder="Confirm Password">
                </div>
                <div class="button-container">
                    <button id="submit">Submit</button>
                    <p><i class="fa-solid fa-circle-info"></i>To successfully register for your new account, please ensure you provide and verify an active email address during the registration process to receive important notifications and confirm your identity.</p>
                </div>
          </div>
        </div>
       </form>
    </div>
</body>
</html>